@import
url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
	font-family: 'Muli', sans-serif;
}
body{
	margin: 0;
	border: 0;
    background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
}


/* navigation  */
a{
    text-decoration: none;
    color: white;
}

.topup{
    margin-right: 10%;
    
}

.topup-menu{
    display: block;
    margin-bottom: 10%;
    white-space: nowrap;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #3175DE;
    padding: 0.5rem 6rem;
	margin-bottom: 3%;

}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
    height: 100%;
	color: #fff;
}

.navbar-links_logo img {
    width: 30%;
}


.navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navbar-links_container-item{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.navbar-sign button{
    padding: 0.3rem 0.8rem;
    color: #fff;
    background: linear-gradient(45deg,  #2A265F,  #67639b);
   
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
}

.current-score {
	background-color: white;
	margin-right: 5%;
	height: 20%;
	width: 180px;
	padding: 0 3%;
	border-radius: 30px;
}

.reward-coin{
    width: 20px;
    float: right;
    padding: 0;
    padding-top: 13%;
}

.current-score-amount{
    float: left;
}
/* navigation end */



















/* Footer */
#footer {
	margin-top:10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3175DE;
    padding-left: 20px;
	
    color: white;

}

.footer-btn-container{
    display: flex;
    flex-direction: row;
}
.footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.footer-heading h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.footer-btn {
    display: flex;
    align-items: center;
    margin-left: 2%;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.footer-btn p {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.footer-links div {
    width: 250px;
    margin: 1rem;
}

.footer-links_logo {
    display: flex;
    flex-direction: column;
    
}

.footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}
/* Footer End */

:root {
    --primary : linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    --secondary : linear-gradient(90deg, #1CB5E0 0%, #000851 100%);;
    --text : #fff;
}


.container {
    width: 95vw;

    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    
    padding: .5rem 1rem;
    text-transform: capitalize;
}


.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 1rem;
}

.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist > p {
    padding: 1rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem 'Poppins' 'sans-serif';
    padding: 0 .5rem;
}

.button {
    font-size: 25px;
    position:absolute;
    right: 150px;
    right: 150px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
  }
  .button:active {
    transform: scale(0.96);
  }
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }





  

  
  .navbar-links {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  
  .navbar-links_logo {
      margin-right: 2rem;
      height: 100%;
    color: #fff;
  }
  
  .navbar-links_logo img {
      width: 30%;
  }
  
  
  .navbar-links_container {
      display: flex;
      flex-direction: row;
      margin-right: 5%;
  }
  
  .navbar-sign {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
  }
  
  .navbar-links_container-item{
      color: white;
      font-weight: 500;
      font-size: 18px;

      text-transform: capitalize;
      margin: 0 1rem;
      cursor: pointer;
      white-space: nowrap;
      text-align: center;
  }
  
  .navbar-sign button{
      padding: 0.3rem 0.8rem;
      color: #fff;
      background: linear-gradient(45deg,  #2A265F,  #67639b);
     
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      flex-direction: column;
      white-space: nowrap;
      text-align: center;
  }
  
  .current-score {
    background-color: white;
    margin-right: 5%;
    height: 20%;
    width: 180px;
    padding: 0 3%;
    border-radius: 30px;
  }
  
  .reward-coin{
      width: 20px;
      float: right;
      padding: 0;
      padding-top: 13%;
  }
  
  .current-score-amount{
      float: left;
  }
  /* navigation end */
  
  

  
  